.header {
  padding: 18px 70px;
  display: flex;
  gap: 44px;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding: 18px 14px;
  }
}
